appdirs==1.4.3
asn1crypto==0.22.0
certifi==2017.4.17
cffi==1.10.0
chardet==3.0.3
click==6.7
cryptography==1.9
enum34==1.1.6
Flask==0.12.2
Flask-SQLAlchemy==2.2
idna==2.5
inflection==0.3.1
ipaddress==1.0.18
itsdangerous==0.24
Jinja2==2.9.6
MarkupSafe==1.0
more-itertools==3.1.0
ndg-httpsclient==0.4.2
numpy==1.21.0
packaging==16.8
pandas==0.20.1
psycopg2==2.7.1
pyasn1==0.2.3
pycparser==2.17
pyOpenSSL==17.0.0
pyparsing==2.2.0
python-dateutil==2.6.0
pytz==2017.2
Quandl==3.1.0
requests==2.17.3
six==1.10.0
SQLAlchemy==1.1.10
urllib3==1.21.1
Werkzeug==0.12.2
