body {
    background-color: white;
}

.jumbotron {
    color: #1f3a00;
}

.redimportant {
    color: red !important;
}

.custom {
    width: 8% !important;
    min-width: 34px !important;
    padding: 1px !important;
}

.btnbar {
    width: 100% !important;
}