/* import fonts from google fonts */

@import url('https://fonts.googleapis.com/css?family=Bree+Serif');
@import url('https://fonts.googleapis.com/css?family=PT+Mono');
@import url('https://fonts.googleapis.com/css?family=Oxygen: 400,700');

body {
    background-color: white;
    font-family: 'Oxygen', sans-serif !important;
}

.jumbotron {
    color: #1f3a00;
    font-family: 'PT Mono', monospace;
}

.redimportant {
    color: red !important;
}

.custom {
    width: 8% !important;
    min-width: 34px !important;
    padding: 1px !important;
}

.btnbar {
    width: 100% !important;
}

/* disable number toggle to make javascript work - from css-tricks.com */
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}