 {% extends "layout.html" %} 
 {% block title %} Buy Stock {% endblock %} 

 {% block logoutbutton %}  <li><a href="/logout"><span class="glyphicon glyphicon-user" aria-hidden="true"></span> Logout</a></li> {% endblock %} 

 {% block content %}

<div class="jumbotron text-center">
    <h1>Buy Stocks</h1>
</div>

<div class="row">
    <div class="col-sm-4"></div>

    <div class="col-sm-4">
        <h3>Enter a stock ticker and # of shares</h3>
        <p>Example tickers: F, CMG, AAPL, DIS, GS, XOM</p>
        <form method="post">
        
            <p><input class="form-control" type=text name=ticker placeholder="stock symbol"></p>
            <p><input class="form-control" type=number name=shares placeholder="# shares"></p>
            <p><input class="btn btn-primary" type=submit value=Buy></p>
            
        </form>
    </div>

    <div class="col-sm-4"></div>

</div>

<div class="row">
    <div class="col-sm-4"></div>

    <div class="col-sm-4">
        <h2 class="text-center">Available Stocks</h2>

        <p>
        <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
            A
        </button>
        </p>
        <div class="collapse" id="collapseExample">
            <div class="card card-block">
                test
            </div>
        </div>

        <table class="table table-striped">
            <tr>
                <th>Company Name</th>
                <th>Ticker</th>
            </tr>
            {% for stock in stock_list %}
            <tr>
                <td>{{stock.Name}}</td>
                <td>{{stock.Symbol}}</td>
            </tr>
            {% endfor %}
        </table>

    </div>

    <div class="col-sm-4"></div>

</div>


{% endblock %}
