 {% extends "layout.html" %} {% block title %} Buy Stock {% endblock %} {% block logoutbutton %}
<li><a href="/logout"><span class="glyphicon glyphicon-user" aria-hidden="true"></span> Logout</a></li> {% endblock %} {% block
content %}
<div class="jumbotron text-center">
    <h1>Buy Stocks</h1>
</div>

<br />

<div class="row">
    <div class="col-sm-4"></div>

    <div class="col-sm-4">


        <!-- begin top links -->

        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">Group 1</a>

        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">Group 2</a>

        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">Group 3</a>

        <!-- End top links -->

        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">

            <div class="panel panel-default">
                <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                    <div class="panel-body">
                        <!-- Code for first group of stocks-->Stock List 1
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                    <div class="panel-body">
                        <!-- Code for first group of stocks-->Stock List 2
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                    <div class="panel-body">
                        <!-- Code for first group of stocks-->Stock List 3
                    </div>
                </div>
            </div>

        </div>   <!-- end large panel accordion group -->


    </div>

    <div class="col-sm-4"></div>

</div>


{% endblock %}