 {% extends "layout.html" %} {% block title %} History {% endblock %} {% block content %}
<div class="jumbotron text-center">
    <h1>Transaction History</h1>
</div>
<div class="row">
    <div class="col-sm-4"></div>
    <div class="col-sm-4">
        <p>Your transaction history:</p>
        <ol>
         {% for transaction in transactions %}
         <li>User ID: {{transaction.user_id}}. Stock Name: {{transaction.stock_name}}. Stock Ticker: {{transaction.stock_ticker}}. Price: {{transaction.price}}. Shares: {{transaction.shares}}. Time: {{transaction.timestamp}}</li>
        {% endfor %}
        </ol>
    </div>
    <div class="col-sm-4"></div>
</div>
{% endblock %}