 {% extends "layout.html" %} {% block title %} Index {% endblock %} {% block content %}
<div class="jumbotron text-center">
    <h1>FunMoney</h1>
</div>
<div class="col-sm-4"></div>
<div class="row">
    <div class="col-sm-4">
            <h2 class="text-center">{{current_user.username}}'s Assets</h2>
        <table class="table table-bordered text-center">
            <tr>
                <td><strong>Total Cash</strong></td>
                <td><strong>Total Stock Value</strong></td>
                <td><strong>Total Value</strong></td>
            </tr>
            <tr>
                <td>{{"${:,.2f}".format(current_user.cash)}}</td>
                <td>{{"${:,.2f}".format(stock_total)}}</td>
                <td>{{"${:,.2f}".format(current_user.cash + stock_total)}}</td>
            </tr>
        </table>
        </div>
        <div class="col-sm-4"></div>
</div>
<br />
<div class="row">
    <div class="col-sm-3"></div>
    <div class="col-sm-6">

        {% if my_portfolio %}
        <h2 class="text-center">Stock Portfolio</h2>

        <table class="table table-striped">
            <tr>
                <th>Stock</th>
                <th>Ticker</th>
                <th>Shares</th>
                <th>Share Price</th>
                <th>Total Value</th>
            </tr>
            {% for stock in my_portfolio %}
            <tr>
                <td>{{stock.stock_name}}</td>
                <td>{{stock.stock_ticker}}</td>
                <td>{{stock.shares}}</td>
                <td>{{"${:,.2f}".format(stock.price)}}</td>
                <td>{{"${:,.2f}".format(stock.price * stock.shares)}}</td>
            </tr>
            {% endfor %}
        </table>
        {% endif %}


    </div>
    <div class="col-sm-3"></div>
</div>
{% endblock %}