<!doctype html>
<html>

<head>
  {% block head %}
  <title>{% block title %}{% endblock %} - Fun Money</title>
  <!-- Add icon library from w3schools tutorial-->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <!-- Local bootstrap from 5/31/2017 -->
  <link rel="stylesheet" type="text/css" href="static/bootstrap/css/bootstrap.min.css">
  <!-- Custom Styles -->
  <link rel="stylesheet" type="text/css" href="static/styles.css?version=1"> 
  <!-- jquery and bootstrap javascript -->
  <script src="static/bootstrap/js/jquery-3.2.1.min.js"></script>
  <script src="static/bootstrap/js/bootstrap.min.js"></script>  
  <!-- Custom scripts or page-specific CSS below: -->
  {% block headlinks %}{% endblock %}
  {% endblock %}
</head>

<body>

<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">Fun Money</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="/"><span class="glyphicon glyphicon-folder-open" aria-hidden="true"></span>  Portfolio</a></li>
        <li><a href="/quote"><span class="glyphicon glyphicon-search" aria-hidden="true"></span> Get a Quote</a></li>
        <li><a href="/buy"><span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span> Buy Stocks</a></li>
        <li><a href="/sell"><span class="glyphicon glyphicon-thumbs-down" aria-hidden="true"></span> Sell Stocks</a></li>
        <li><a href="/history"><span class="glyphicon glyphicon-time" aria-hidden="true"></span> Transaction History</a></li>
        <li><a href="/leaderboard"><span class="glyphicon glyphicon-list" aria-hidden="true"></span> Leaderboard</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        {% block logoutbutton %}{% endblock %}
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
  {% block content %}{% endblock %}
  <br />
<hr />
  <div class="row" id="footer">
    {% block footer %}
    <br />
    <div class="col-sm-4"></div>
    <div class="col-sm-4">
      <p class="text-center">&copy; 2017 by <a href="https://github.com/eqmvii" class="fa fa-github"></a> <a href="https://github.com/eqmvii">Eric</a> and <a href="https://github.com/lianagitsit" class="fa fa-github"></a> <a href="https://github.com/lianagitsit">Liana</a>. Inspired by CS50.</p>
   </div>
    <div class="col-sm-4"></div>
    {% endblock %}
  </div>


</body>

</html>