 {% extends "layout.html" %} {% block title %} Login! {% endblock %} {% block content %}
<div class="jumbotron text-center">
    <h1>Login to FunMoney
        <h1>
</div>
<div class="row">

    <div class="col-sm-4">
    </div>

    <div class="col-sm-4">
        <form method="post">
            <input class="form-control" type=text name=username placeholder="Enter username">
            <input class="form-control" type=password name=password placeholder="Enter password">
            <input type=submit value=Login class="btn btn-primary">
        </form>
    </div>

    <div class="col-sm-4">
    </div>
</div>

<div class="row">
    <div class="col-sm-4">
    </div>
    <div class="col-sm-4">

        <a href="/register">Register New Account</a>
        <div class="col-sm-4">
        </div>
    </div>
</div>
{% endblock %}