{% extends "layout.html" %} 
 
{% block title %} Login! {% endblock %} 

{% block content %}

<div class="jumbotron text-center">
    <h1>Login to Fun Money</h1>
</div>

<div class="row mainbg">

    <div class="col-sm-4"></div>

    <div class="col-sm-4 ">
        <br />

        <h2 class="text-center">Login, register, or enter as a guest</h2>
        <br />
        <div class="text-center">
            <a href="/register"><button class="btn btn-success btn-lg ">Register New Account</button></a>
            <br />
            <br />
        </div>
        <h4 class="text-center">Guest username is 'guest' and password is 'password'</h4>
        <br />

        <form method="post">
            <div class="form-group">
                <label for="loginusername">Username</label>
                <input class="form-control" type=text name=username placeholder="Enter username" id="loginusername">
            </div>
            <div class="form-group">
                <label for="loginpassword">Password</label>
                <input class="form-control" type=password name=password placeholder="Enter password">
            </div>
            <input type=submit value=Login class="btn btn-primary">

        </form>
        
    </div>

    <div class="col-sm-4"></div>
</div>
{% endblock %}