
{% extends "layout.html" %}

{% block title %} 
    Quote
{% endblock %}

{% block content %}
    <div class="jumbotron text-center">
        <h1>Stock Quote</h1>
    </div>

<div class="row">
    <div class="col-sm-4"></div>
    <div class="col-sm-4">
    <form method="post">
        </p><input class="form-control" type=text name=ticker placeholder="stock symbol"></p>
        <P><input class="btn btn-primary" type=submit value=Submit></p>
    </form>

    <br />
    <br />
    <a href="/">Home</a>
    <br />
    </div>

    <div class="col-sm-4"></div>

    </div>
{% endblock %}